{% extends 'base.html.twig' %}

{% block title %}Ajout d'une adresse - E-commerce Web Site.{% endblock %}
{% block body %}
<div class="row">
    <div class="col-8 offset-2 mt-5" style="color: #00580a;">
        <h2 class="text-center mb-5">Ajout d'une adresse.</h2>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">{{ form_row(form.name) }}</div>
            <div class="col-md-5">{{ form_row(form.firstname) }}</div>
            <div class="col-md-7">{{ form_row(form.lastname) }}</div>
            <div class="col-md-4">{{ form_row(form.company) }}</div>
            <div class="col-md-8">{{ form_row(form.address) }}</div>
            <div class="col-md-4">{{ form_row(form.postal) }}</div>
            <div class="col-md-8">{{ form_row(form.city) }}</div>
            <div class="col-md-6">{{ form_row(form.country) }}</div>
            <div class="col-md-6">{{ form_row(form.phone) }}</div>
        </div>
        <input type="submit" value="Valider" class ="btn btn-dark btn-block btn-sm mb-3">
        <a href="{{ path('account_address') }}" class="btn btn-dark btn-block btn-sm">Retour</a>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
