{% extends 'base.html.twig' %}

{% block title %}Modifier password - E-commerce Web Site.{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6 offset-3 mt-5" style="color: #00580a;">
            <h2 class="text-center">Modifier mon password.</h2>
            <div class="col-6 offset-4" style="color: #00580a;">
            <a href="{{ path('account') }}" class="btn btn-dark btn-sm mt-3 mb-3">Retour à mon compte.</a><br/>
            </div>
            {{ form_start(form) }}
                {{ form_row(form.firstname) }}
                {{ form_row(form.lastname) }}
                {{ form_row(form.email) }}
                {% if notification %}
                    <div class="alert alert-danger">
                        {{ notification }}
                    </div>
                {% endif %}
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-dark btn-block mt-2" value="Valider">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
