{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-2 mt-5">
            <h2 style="color: #00580a;">Filtrer.</h2>
            {{ form_start(form) }}
                {{ form_row(form.string) }}
                {{ form_row(form.categories) }}
                <input type="submit" class="btn btn-dark btn-block btn-sm" value="Rechercher">
            {{ form_end(form) }}
    </div>
    <div class="col-md-10 mt-5">
        <div class="col-6 offset-3 mt-2 mb-5" style="color: #00580a;">
            <h2 class="text-center">Nos Produits.</h2>
        </div>
        <div class="row">
            {% for product in products %}
            <div class="col-md-4">
                {% include 'product/single_product.html.twig' %}
            </div>
                {% endfor %}
            </div>
            <div class="navigation mt-3 mb-5">
                {#{{ knp_pagination_render(products) }}#}
            </div>
        </div>
</div>

{% endblock %}
