<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ path("accueil") }}">Mikel-concession Auto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('accueil') }}">Accueil</span></a>
                    </li>
                </ul>
            </div>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Voitures
                </a>
                {#{% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}#}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{ {path("voitures") }}">Voitures</a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path("marques") }}">Marques</a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path("modeles") }}">Modèles</a>
                </div>
                {#{% endif %}#}
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Administration
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path("admin") }}">Voitures</a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path("admin_marque") }}">Marques</a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path("admin_model") }}">Modèles</a>
                </div>
                {% endif %}
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if not app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('login') }}">login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('inscription') }}">Inscription</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="#">Logged in as : {{ app.user.username|capitalize }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('logout') }}">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
